.search-container {
  margin-top: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
}

.dropdown-wrapper {
  position: relative;
  width: 0;
  height: 0;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;

  transform: scaleX(-1);
  transform: scaleY(1);
  position: absolute;
  bottom: 0px;
  width: 237px;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
} 

.dropdown-row:hover {
  font-weight: bold;
}

input {
  width: 250px;
}

.search-inner {
  display: flex;
}
